<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
    </extensions>
    <behaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpConfig">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTCPConfig">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="TestApplication.Wcf.Server.NetFramework.StatusService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicHttpConfig" contract="TestApplication.Wcf.Server.NetFramework.IStatusServiceContract" />
        <endpoint binding="netTcpBinding" bindingConfiguration="netTCPConfig" contract="TestApplication.Wcf.Server.NetFramework.IStatusServiceContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:9009/Telemetry" />
            <add baseAddress="net.tcp://127.0.0.1:9090/Telemetry" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>