version: 2
updates:
  # Dependency notifications for vendored libraries
  - package-ecosystem: "nuget"
    directory: "/honeypot"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "area:vendors"
    ignore:
      - dependency-name: "MessagePack" # Locked at a version that supports our net452 build target
    open-pull-requests-limit: 0 # disable version updates
  # Src libraries
  - package-ecosystem: "nuget"
    directory: "/src/OpenTelemetry.AutoInstrumentation"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "area:tracer"
    ignore:
      ### Start OpenTelemetry.AutoInstrumentation.csproj ignored dependencies
      # DiagnosticSource is kept at the lowest supported version for widest compatibility
      - dependency-name: "System.Diagnostics.DiagnosticSource"

      # AspNetCore reference libraries are kept at the lowest supported version for compatibility on netstandard2.0
      - dependency-name: "Microsoft.AspNetCore.Hosting.Abstractions"
      - dependency-name: "Microsoft.AspNetCore.Mvc.Abstractions"
      - dependency-name: "Microsoft.AspNetCore.Routing"

      # DuckTyping libraries are kept at the lowest supported version for compatibility on netstandard2.0
      - dependency-name: "System.Reflection.Emit"
      - dependency-name: "System.Reflection.Emit.Lightweight"
      ### End OpenTelemetry.AutoInstrumentation.csproj ignored dependencies
    open-pull-requests-limit: 0 # disable version updates
  - package-ecosystem: "nuget"
    directory: "/src/OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "area:integrations"
    ignore:
      ### Start OpenTelemetry.AutoInstrumentation.csproj ignored dependencies
      # DiagnosticSource is kept at the lowest supported version for widest compatibility
      - dependency-name: "System.Diagnostics.DiagnosticSource"

      # AspNetCore reference libraries are kept at the lowest supported version for compatibility on netstandard2.0
      - dependency-name: "Microsoft.AspNetCore.Hosting.Abstractions"
      - dependency-name: "Microsoft.AspNetCore.Mvc.Abstractions"
      - dependency-name: "Microsoft.AspNetCore.Routing"

      # DuckTyping libraries are kept at the lowest supported version for compatibility on netstandard2.0
      - dependency-name: "System.Reflection.Emit"
      - dependency-name: "System.Reflection.Emit.Lightweight"
      ### End OpenTelemetry.AutoInstrumentation.csproj ignored dependencies
      # Lock Microsoft.Build.Framework for widest compatibility when instrumenting builds
      - dependency-name: "Microsoft.Build.Framework"
    open-pull-requests-limit: 0 # disable version updates
  - package-ecosystem: "nuget"
    directory: "/src/OpenTelemetry.AutoInstrumentation.OpenTracing"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "area:opentracing"
    ignore:
      ### Start OpenTelemetry.AutoInstrumentation.csproj ignored dependencies
      # DiagnosticSource is kept at the lowest supported version for widest compatibility
      - dependency-name: "System.Diagnostics.DiagnosticSource"

      # AspNetCore reference libraries are kept at the lowest supported version for compatibility on netstandard2.0
      - dependency-name: "Microsoft.AspNetCore.Hosting.Abstractions"
      - dependency-name: "Microsoft.AspNetCore.Mvc.Abstractions"
      - dependency-name: "Microsoft.AspNetCore.Routing"

      # DuckTyping libraries are kept at the lowest supported version for compatibility on netstandard2.0
      - dependency-name: "System.Reflection.Emit"
      - dependency-name: "System.Reflection.Emit.Lightweight"
      ### End OpenTelemetry.AutoInstrumentation.csproj ignored dependencies
    open-pull-requests-limit: 0 # disable version updates
  - package-ecosystem: "nuget"
    directory: "/src/OpenTelemetry.AutoInstrumentation.BenchmarkDotNet"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "area:benchmarks"
    ignore:
      ### Start OpenTelemetry.AutoInstrumentation.csproj ignored dependencies
      # DiagnosticSource is kept at the lowest supported version for widest compatibility
      - dependency-name: "System.Diagnostics.DiagnosticSource"

      # AspNetCore reference libraries are kept at the lowest supported version for compatibility on netstandard2.0
      - dependency-name: "Microsoft.AspNetCore.Hosting.Abstractions"
      - dependency-name: "Microsoft.AspNetCore.Mvc.Abstractions"
      - dependency-name: "Microsoft.AspNetCore.Routing"

      # DuckTyping libraries are kept at the lowest supported version for compatibility on netstandard2.0
      - dependency-name: "System.Reflection.Emit"
      - dependency-name: "System.Reflection.Emit.Lightweight"
      ### End OpenTelemetry.AutoInstrumentation.csproj ignored dependencies
    open-pull-requests-limit: 0 # disable version updates
