version: 2
updates:

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: "daily"

  # Maintain dependencies for Dockerfiles used in build pipeline
  - package-ecosystem: docker
    directory: /docker
    schedule:
      interval: "daily"

  - package-ecosystem: docker
    directory: /test/IntegrationTests/docker
    schedule:
      interval: "daily"

  - package-ecosystem: nuget
    directory: /
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20
