version: 2
updates:

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: "daily"


  - package-ecosystem: nuget
    directory: /build/nuke
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /examples/AspNetCoreMvc
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /examples/BindingRedirect
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /examples/ConsoleApp
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /examples/ConsoleApp.SelfBootstrap
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /examples/CoreAppOldReference
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /examples/OldReference
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /examples/OpenTracingLibrary
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /examples/Vendor.Distro
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /src/OpenTelemetry.AutoInstrumentation
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /src/OpenTelemetry.AutoInstrumentation.AdditionalDeps
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /src/OpenTelemetry.AutoInstrumentation.Core
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /src/OpenTelemetry.AutoInstrumentation.Loader
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /src/OpenTelemetry.AutoInstrumentation.Native
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /src/OpenTelemetry.AutoInstrumentation.StartupHook
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/integration-tests/aspnet/IntegrationTests.AspNet
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/integration-tests/IntegrationTests.GraphQL
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/integration-tests/IntegrationTests.Helpers
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/integration-tests/IntegrationTests.Http
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/integration-tests/IntegrationTests.MongoDB
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/integration-tests/IntegrationTests.StartupHook
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/OpenTelemetry.AutoInstrumentation.Bootstrapping.Tests
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/OpenTelemetry.AutoInstrumentation.Loader.Tests
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/OpenTelemetry.AutoInstrumentation.Native.Tests
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/OpenTelemetry.AutoInstrumentation.Tests
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/test-applications/integrations/aspnet/TestApplication.AspNet
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/test-applications/integrations/dependency-libs/TestApplication.ExampleLibrary
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/test-applications/integrations/dependency-libs/TestApplication.ExampleLibraryTracer
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/test-applications/integrations/TestApplication.GraphQL
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/test-applications/integrations/TestApplication.Http
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/test-applications/integrations/TestApplication.MongoDB
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/test-applications/integrations/TestApplication.StartupHook
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20

  - package-ecosystem: nuget
    directory: /test/test-applications/mocks/OpenTelemetry.AutoInstrumentation.Mock
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20
