test/
deploy/

.circleci/
.git/
.github/
**/.vs/
**/.vscode/
packages/
**/bin/
**/obj/

!test/test-applications/aspnet/TestApplication.AspNet472.LoaderOptimizationRegKey/bin/
!src/WindowsInstaller/bin/