<!DOCTYPE html>
<html>
<head>
    <title>TestApplication.AspNet.NetFramework</title>
</head>
<body>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TestApplication.AspNet.NetFramework</p>
        </footer>
    </div>
</body>
</html>
