<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Console target for local debugging -->
    <target xsi:type="Console" name="console"
            layout="${longdate} [${threadid}] ${uppercase:${level}} ${logger} - ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Enable ALL log levels including Trace and Debug -->
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>