<?xml version="1.0" encoding="utf-8" ?>
<!--
  This file contains configuration for NLog for the TestApplication.NLogBridge.
  It demonstrates how trace context is injected into log output when the NLog bridge is enabled.
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- the targets to write to -->
  <targets>
    <!-- Console target for testing output -->
    <target xsi:type="Console" name="console"
            layout="${date} [${threadid}] ${uppercase:${level}} ${logger} - ${message} span_id=${gdc:item=span_id} trace_id=${gdc:item=trace_id} trace_flags=${gdc:item=trace_flags} test_key=${gdc:item=test_key}${newline}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- Skip Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    
    <!-- TestApplication.NLogBridge.Program logger gets INFO level -->
    <logger name="TestApplication.NLogBridge.Program" minlevel="Info" writeTo="console" />
    
    <!-- All logs, including from Microsoft -->
    <logger name="*" minlevel="Warn" writeTo="console" />
  </rules>
</nlog> 