Package: fmt
Version: 10.0.0
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x64-windows-static
Multi-Arch: same
Abi: 592fa33087640e486a989c667166f98b799aa35b0df81225528e905bfcc02e80
Description: Formatting library for C++. It can be used as a safe alternative to printf or as a fast alternative to IOStreams.
