Package: fmt
Version: 9.1.0
Port-Version: 1
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 2ecb3ed5096c486077245bc27c994becabae70c62aa8916169409c90161d8d09
Description: Formatting library for C++. It can be used as a safe alternative to printf or as a fast alternative to IOStreams.
Type: Port
