Package: fmt
Version: 10.0.0
Depends: vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows
Architecture: x86-windows-static
Multi-Arch: same
Abi: 7486e58b8ad73e2ba5ccc53ac430ce5d24119b674262b3c9990bb14ddb3c2b89
Description: Formatting library for C++. It can be used as a safe alternative to printf or as a fast alternative to IOStreams.
