[*.{cs}]
# Prefer "var" everywhere
csharp_style_var_for_built_in_types                               = false : suggestion
csharp_style_var_when_type_is_apparent                            = true : suggestion
csharp_style_var_elsewhere                                        = false : silent

# Suppress Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = suggestion
# Suppress 'static readonly' fields over constant array warnings
dotnet_diagnostic.CA1861.severity = suggestion
