<div class="page">
    <h1>ASP.NET</h1>
    <p>This is a sample ASP.NET (.NET Framework) application for integration tests</p>
    <p>Is Profiler attached: @ViewBag.ProfilerAttached</p>
    <p>Configuration >></p>
    @foreach (var item in ViewBag.EnvVars)
    {
        <p>@item.Key = @item.Value</p>
    }
</div>