<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OTEL_SERVICE_NAME" value="my-service-name" />
    <add key="OTEL_RESOURCE_ATTRIBUTES" value="deployment.environment.name=test" />
    <add key="OTEL_EXPERIMENTAL_FILE_BASED_CONFIGURATION_ENABLED" value="true" />
  </appSettings>
</configuration>
