<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="Files.Managed.NetStandard20" Directory="netstandard2.0">
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed.Core.dll"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed.Core.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed.Core.pdb"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed.Core.pdb"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed.dll"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed.pdb"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed.pdb"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_OpenTelemetry.AutoInstrumentation.dll"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\OpenTelemetry.AutoInstrumentation.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_OpenTelemetry.AutoInstrumentation.MSBuild.dll"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\OpenTelemetry.AutoInstrumentation.MSBuild.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_OpenTelemetry.AutoInstrumentation.MSBuild.pdb"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\OpenTelemetry.AutoInstrumentation.MSBuild.pdb"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_OpenTelemetry.AutoInstrumentation.pdb"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\OpenTelemetry.AutoInstrumentation.pdb"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_System.Diagnostics.DiagnosticSource.dll"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\System.Diagnostics.DiagnosticSource.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_System.Reflection.Emit.dll"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\System.Reflection.Emit.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_System.Reflection.Emit.ILGeneration.dll"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\System.Reflection.Emit.ILGeneration.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_System.Reflection.Emit.Lightweight.dll"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\System.Reflection.Emit.Lightweight.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netstandard20_System.Threading.dll"
              Source="$(var.TracerHomeDirectory)\netstandard2.0\System.Threading.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
