<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="Files.Managed.Net45.GAC" Directory="net45.GAC">
      <Component Win64="$(var.Win64)">
        <Condition>NOT WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED</Condition>
        <File Id="net45_GAC_OpenTelemetry.AutoInstrumentation.AspNet.dll"
              Source="$(var.TracerHomeDirectory)\net45\OpenTelemetry.AutoInstrumentation.AspNet.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <Condition>NOT WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED</Condition>
        <File Id="net45_GAC_OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed.Core.dll"
              Source="$(var.TracerHomeDirectory)\net45\OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed.Core.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <Condition>NOT WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED</Condition>
        <File Id="net45_GAC_OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed.dll"
              Source="$(var.TracerHomeDirectory)\net45\OpenTelemetry.AutoInstrumentation.ClrProfiler.Managed.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <Condition>NOT WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED</Condition>
        <File Id="net45_GAC_OpenTelemetry.AutoInstrumentation.dll"
              Source="$(var.TracerHomeDirectory)\net45\OpenTelemetry.AutoInstrumentation.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <Condition>NOT WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED</Condition>
        <File Id="net45_GAC_OpenTelemetry.AutoInstrumentation.MSBuild.dll"
              Source="$(var.TracerHomeDirectory)\net45\OpenTelemetry.AutoInstrumentation.MSBuild.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
