name: 'Assign Reviewers'
on:
  # pull_request_target is suggested for projects where pull requests will be
  # made from forked repositories. If pull_request is used in these cases,
  # the github token will not have sufficient permission to update the PR.
  pull_request_target:

permissions:
  contents: read

jobs:
  assign:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    name: Assign Reviewers
    steps:
        
      - name: Assign reviewers
        uses: dyladan/component-owners@7ff2b343629407c4dbe1c28ae66f55f723543d2b # tag: v0.2.0
        with:
          assign-owners: "false"
          request-owner-reviews: "true"
