name: Build NuGet Packages

on:
  workflow_call:
    outputs:
      # Output the NuGet version suffix so that the caller workflow can have the correct package version.
      nuget-version-suffix:
        description: "The NuGet version suffix to build the packages"
        value: ${{ jobs.build-nuget-packages.outputs.nuget-version-suffix }}


env:
  NUGET_PACKAGES: ${{ github.workspace }}/packages
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

jobs:
  build-nuget-packages:
    # In principle this job "needs: [ build, build-container ]", however, that would cause the build and build-container
    # jobs to run twice, which is not what we want. Instead, we let the "caller" job handle the dependencies.
    outputs:
      nuget-version-suffix: ${{ steps.set-nuget-version-suffix.outputs.suffix }}
    runs-on: windows-2022
    steps:

      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # tag: v4.2.0
        with:
          fetch-depth: 0 # fetching all, needed to correctly calculate version

      - name: Setup .NET
        uses: actions/setup-dotnet@6bd8b7f7774af54e05809fcc5431931b3eb1ddee # tag: v4.0.1
        with:
          dotnet-version: | 
            6.0.425
            7.0.410
            8.0.402

      - name: Check for NuGet packages cache
        uses: actions/cache@2cdf405574d6ef1f33a1d12acccd3ae82f47b3f2 # tag: v4.1.0
        id: nuget-cache
        with:
          key: ${{ hashFiles('**/Directory.packages.props', './build/LibraryVersions.g.cs', '**/packages.config' ) }}
          path: ${{ env.NUGET_PACKAGES }}

      - name: Download Windows Artifacts from build job
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # tag: v4.1.8
        with:
          name: bin-windows-2022
          path: bin/ci-artifacts/bin-windows-2022

      - name: Download Ubuntu x64 Artifacts from build job
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # tag: v4.1.8
        with:
          name: bin-ubuntu-20.04
          path: bin/ci-artifacts/bin-ubuntu-20.04

      - name: Download Ubuntu arm64 Artifacts from build job
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # tag: v4.1.8
        with:
          name: bin-otel-linux-arm64
          path: bin/ci-artifacts/bin-otel-linux-arm64

      - name: Download Alpine x64 Artifacts from build job
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # tag: v4.1.8
        with:
          name: bin-alpine-x64
          path: bin/ci-artifacts/bin-alpine-x64

      - name: Download Alpine arm64 Artifacts from build job
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # tag: v4.1.8
        with:
          name: bin-alpine-arm64
          path: bin/ci-artifacts/bin-alpine-arm64

      - name: Download Mac-OS Artifacts from build job
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # tag: v4.1.8
        with:
          name: bin-macos-12
          path: bin/ci-artifacts/bin-macos-12

      - name: Build NuGet packages
        run: ./build.cmd BuildNuGetPackages

      - name: Install dotnet-validate
        run: dotnet tool install --global dotnet-validate --version 0.0.1-preview.304

      - name: Install Meziantou.Framework.NuGetPackageValidation.Tool
        run: dotnet tool install --global Meziantou.Framework.NuGetPackageValidation.Tool --version 1.0.16

      - name: Validate nuget packages
        shell: pwsh
        run: |
          foreach ($file in (Get-ChildItem bin/nuget-artifacts//*.nupkg)) {
            dotnet validate package local $($file)
            if (-not ($LASTEXITCODE -eq 0)) {
              throw "dotnet validate failed for $($file)";
            }
            meziantou.validate-nuget-package $($file)
            if (-not ($LASTEXITCODE -eq 0)) {
              throw "meziantou.validate-nuget-package validate failed for $($file)";
            }
          }
        
      - name: Upload Nuget Artifacts
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # tag: v4.4.0
        with:
          name: bin-nuget-packages
          path: bin/nuget-artifacts/
