name: Build NuGet Packages

on:
  workflow_call:
    outputs:
      # Output the NuGet version suffix so that the caller workflow can have the correct package version.
      nuget-version-suffix:
        description: "The NuGet version suffix to build the packages"
        value: ${{ jobs.build-nuget-packages.outputs.nuget-version-suffix }}

permissions:
  contents: read

env:
  NUGET_PACKAGES: ${{ github.workspace }}/packages
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

jobs:
  build-nuget-packages:
    # In principle this job "needs: [ build, build-container ]", however, that would cause the build and build-container
    # jobs to run twice, which is not what we want. Instead, we let the "caller" job handle the dependencies.
    outputs:
      nuget-version-suffix: ${{ steps.set-nuget-version-suffix.outputs.suffix }}
    runs-on: windows-2022
    steps:

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag: v6.0.1
        with:
          fetch-depth: 0 # fetching all, needed to correctly calculate version

      - name: Setup .NET
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # tag: v5.0.1
        with:
          dotnet-version: | 
            8.0.416
            9.0.308
            10.0.101

      - name: Check for NuGet packages cache
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # tag: v5.0.0
        id: nuget-cache
        with:
          key: ${{ hashFiles('**/Directory.packages.props', './build/LibraryVersions.g.cs', '**/packages.config' ) }}
          path: ${{ env.NUGET_PACKAGES }}

      - name: Download Windows Artifacts from build job
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # tag: v7.0.0
        with:
          name: bin-windows-2022
          path: bin/ci-artifacts/bin-windows-2022

      - name: Download Ubuntu x64 Artifacts from build job
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # tag: v7.0.0
        with:
          name: bin-ubuntu-22.04
          path: bin/ci-artifacts/bin-ubuntu-22.04

      - name: Download Ubuntu arm64 Artifacts from build job
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # tag: v7.0.0
        with:
          name: bin-ubuntu-22.04-arm
          path: bin/ci-artifacts/bin-ubuntu-22.04-arm

      - name: Download Alpine x64 Artifacts from build job
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # tag: v7.0.0
        with:
          name: bin-alpine-x64
          path: bin/ci-artifacts/bin-alpine-x64

      - name: Download Alpine arm64 Artifacts from build job
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # tag: v7.0.0
        with:
          name: bin-alpine-arm64
          path: bin/ci-artifacts/bin-alpine-arm64

      - name: Download Mac-OS Artifacts from build job
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # tag: v7.0.0
        with:
          name: bin-macos-14
          path: bin/ci-artifacts/bin-macos-14

      - name: Build NuGet packages
        run: ./build.cmd BuildNuGetPackages

      - name: Install dotnet-validate
        run: dotnet tool install --global dotnet-validate --version 0.0.1-preview.537

      - name: Install Meziantou.Framework.NuGetPackageValidation.Tool
        run: dotnet tool install --global Meziantou.Framework.NuGetPackageValidation.Tool --version 1.0.30

      - name: Validate nuget packages
        shell: pwsh
        run: |
          foreach ($file in (Get-ChildItem bin/nuget-artifacts//*.nupkg)) {
            dotnet validate package local $($file)
            if (-not ($LASTEXITCODE -eq 0)) {
              throw "dotnet validate failed for $($file)";
            }
            meziantou.validate-nuget-package $($file)
            if (-not ($LASTEXITCODE -eq 0)) {
              throw "meziantou.validate-nuget-package validate failed for $($file)";
            }
          }
        
      - name: Upload Nuget Artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # tag: v6.0.0
        with:
          name: bin-nuget-packages
          path: bin/nuget-artifacts/
