name: ci

on:
  push:
    branches: [ main ]
  pull_request:
  merge_group:
  workflow_dispatch:

env:
  NUGET_PACKAGES: ${{ github.workspace }}/packages
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

permissions:
  contents: read

jobs:
  build-container:
    uses: ./.github/workflows/build-container.yml

  build-ubuntu1604-native:
    uses: ./.github/workflows/build-ubuntu1604-native-container.yml

  build:
    needs: build-ubuntu1604-native
    uses: ./.github/workflows/build.yml

  build-nuget-packages:
    needs: [ build, build-container ]
    uses: ./.github/workflows/build-nuget-packages.yml

  test-build-managed:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        test-tfm: [ net10.0, net9.0, net8.0, net462 ]
        machine: [ windows-2022, windows-2025, ubuntu-22.04, macos-14, ubuntu-22.04-arm ]
        exclude:
          - test-tfm: net462
            machine: macos-14
          - test-tfm: net462
            machine: ubuntu-22.04
          - test-tfm: net462
            machine: ubuntu-22.04-arm
        include:
          - machine: windows-2022
            containers: none
            artifact-name: windows-2022
          - machine: windows-2025
            containers: none
            artifact-name: windows-2022
          - machine: ubuntu-22.04
            containers: linux
            artifact-name: ubuntu-22.04
          - machine: macos-14
            containers: none
            artifact-name: macos-14
          - machine: ubuntu-22.04-arm
            containers: linux
            artifact-name: ubuntu-22.04-arm
    runs-on: ${{ matrix.machine }}
    steps:

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag: v6.0.1
        with:
          fetch-depth: 0 # fetching all, needed to correctly calculate version

      - name: Setup .NET
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # tag: v5.0.1
        with:
          dotnet-version: | 
            8.0.416
            9.0.308
            10.0.101

      - name: Check for NuGet packages cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # tag: v4.3.0
        id: nuget-cache
        with:
          key: ${{ hashFiles('**/Directory.packages.props', './build/LibraryVersions.g.cs', '**/packages.config' ) }}
          path: ${{ env.NUGET_PACKAGES }}

      - name: Download Artifacts from build job
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # tag: v6.0.0
        with:
          name: bin-${{ matrix.artifact-name }}
          path: bin/tracer-home

      - name: Install SQL Server (localdb)
        if: ${{ runner.os == 'Windows' }}
        uses: potatoqualitee/mssqlsuite@7682f39841e862cde023c8bc97c55592c0af4eb0 # tag: v1.11
        with: 
          install: localdb

      - name: Run TestWorkflow
        run: ./build.cmd --skip NativeTests --target TestWorkflow --test-target-framework ${{ matrix.test-tfm }} --containers ${{ matrix.containers }}

      - name: Upload test logs
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # tag: v5.0.0
        with:
          name: test-logs-${{ matrix.machine }}-${{ matrix.test-tfm }}-containers-${{ matrix.containers }}
          path: test-artifacts/

      - name: Delete SQL Server MSI
        if: ${{ runner.os == 'Windows' }}
        shell: bash
        run: rm SqlLocalDB.msi

  test-build-native:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        include:
          - machine: windows-2022
            artifact-name: windows-2022
          - machine: windows-2025
            artifact-name: windows-2022
    runs-on: ${{ matrix.machine }}
    steps:

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag: v6.0.1
        with:
          fetch-depth: 0 # fetching all, needed to correctly calculate version

      - name: Setup .NET
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # tag: v5.0.1
        with:
          dotnet-version: | 
            8.0.416
            9.0.308
            10.0.101

      - name: Check for NuGet packages cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # tag: v4.3.0
        id: nuget-cache
        with:
          key: ${{ hashFiles('**/Directory.packages.props', './build/LibraryVersions.g.cs', '**/packages.config' ) }}
          path: ${{ env.NUGET_PACKAGES }}

      - name: Download Artifacts from build job
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # tag: v6.0.0
        with:
          name: bin-${{ matrix.artifact-name }}
          path: bin/tracer-home

      - name: Run NativeTests
        run: ./build.cmd NativeTests

  test-build-windows-container-tests:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        include:
          - machine: windows-2022
            containers: windows-only
            artifact-name: windows-2022
          - machine: windows-2025
            containers: windows-only
            artifact-name: windows-2022
    runs-on: ${{ matrix.machine }}
    steps:

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag: v6.0.1
        with:
          fetch-depth: 0 # fetching all, needed to correctly calculate version

      - name: Setup .NET
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # tag: v5.0.1
        with:
          dotnet-version: | 
            8.0.416
            9.0.308
            10.0.101

      - name: Check for NuGet packages cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # tag: v4.3.0
        id: nuget-cache
        with:
          key: ${{ hashFiles('**/Directory.packages.props', './build/LibraryVersions.g.cs', '**/packages.config' ) }}
          path: ${{ env.NUGET_PACKAGES }}

      - name: Download Artifacts from build job
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # tag: v6.0.0
        with:
          name: bin-${{ matrix.artifact-name }}
          path: bin/tracer-home

      - name: Build artifacts required for the test (no native tests)
        run: ./build.cmd --skip RunManagedTests --target ManagedTests --containers ${{ matrix.containers }}

      - name: Run the integration tests
        run: ./build.cmd --target RunManagedIntegrationTests --containers ${{ matrix.containers }} --test-target-framework net462

      - name: Upload test logs
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # tag: v5.0.0
        with:
          name: test-logs-${{ matrix.machine }}-containers-${{ matrix.containers }}
          path: test-artifacts/

  test-build-container:
    needs: [build, build-container]
    strategy:
      fail-fast: false
      matrix:
        include:
          - machine: ubuntu-22.04
            base-image: alpine
            build-source: alpine-x64
            os-type: linux-musl
          - machine: ubuntu-22.04
            base-image: debian
            build-source: ubuntu-22.04
            os-type: linux-glibc
          - machine: ubuntu-22.04
            base-image: centos-stream9
            build-source: ubuntu-22.04
            os-type: linux-glibc
          - machine: ubuntu-22.04-arm
            base-image: alpine
            build-source: alpine-arm64
            os-type: linux-musl
          - machine: ubuntu-22.04-arm
            base-image: debian-arm64
            build-source: ubuntu-22.04-arm
            os-type: linux-glibc
    runs-on: ${{ matrix.machine }}
    timeout-minutes: 60
    steps:

    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag: v6.0.1
      with:
        fetch-depth: 0 # fetching all, needed to correctly calculate version

    - name: Download Artifacts from build job
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # tag: v6.0.0
      with:
        name: bin-${{ matrix.build-source }}
        path: bin/tracer-home

    - name: Build in Docker container
      run: |
        set -e
        docker build -t mybuildimage -f "./docker/${{ matrix.base-image }}.dockerfile" .
        docker run -e OS_TYPE=${{ matrix.os-type }} --rm --mount type=bind,source="${GITHUB_WORKSPACE}",target=/project mybuildimage \
          /bin/sh -c 'git config --global --add safe.directory /project && ./build.sh TestWorkflow --containers none'

    - name: Upload test logs
      if: always()
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # tag: v5.0.0
      with:
        name: test-logs-container-${{ matrix.machine }}-${{ matrix.base-image }}
        path: test-artifacts/

  test-nuget-packages:
    needs: build-nuget-packages
    strategy:
      fail-fast: false
      matrix:
        include:
          - machine: ubuntu-22.04
          - machine: macos-14
          - machine: windows-2022
          - machine: windows-2025
          - machine: ubuntu-22.04-arm
    runs-on: ${{ matrix.machine }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag: v6.0.1
        with:
          fetch-depth: 0 # fetching all, needed to correctly calculate version

      - name: Setup .NET
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # tag: v5.0.1
        with:
          dotnet-version: | 
            8.0.416
            9.0.308
            10.0.101

      - name: Check for NuGet packages cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # tag: v4.3.0
        id: nuget-cache
        with:
          key: ${{ hashFiles('**/Directory.packages.props', './build/LibraryVersions.g.cs', '**/packages.config' ) }}
          path: ${{ env.NUGET_PACKAGES }}

      - name: Download NuGet Artifacts from build-nuget-packages job
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # tag: v6.0.0
        with:
          name: bin-nuget-packages
          path: bin/nuget-artifacts/

      - name: Test NuGet Packages
        run: ./build.cmd TestNuGetPackages

      - name: Upload test logs
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # tag: v5.0.0
        with:
          name: test-logs-nuget-packages-${{ matrix.machine }}
          path: test-artifacts/

  test-jobs:
    runs-on: ubuntu-22.04
    needs:
      - test-build-managed
      - test-build-native
      - test-build-container
      - test-nuget-packages
      - test-build-windows-container-tests
    steps:
      
      - name: Test if test jobs passed
        run: |
          echo ${{ needs.test-build-managed.result }}
          test ${{ needs.test-build-managed.result }} == "success"
          echo ${{ needs.test-build-native.result }}
          test ${{ needs.test-build-native.result }} == "success"
          echo ${{ needs.test-build-container.result }}
          test ${{ needs.test-build-container.result }} == "success"
          echo ${{ needs.test-nuget-packages.result }}
          test ${{ needs.test-nuget-packages.result }} == "success"
          echo ${{ needs.test-build-windows-container-tests.result }}
          test ${{ needs.test-build-windows-container-tests.result }} == "success"
