name: ci

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        machine: [ windows-2022, ubuntu-20.04, macos-10.15 ]
    runs-on: ${{ matrix.machine }}
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-dotnet@v1.9.0
        with:
          dotnet-version: | 
            3.1.x
            5.0.x
            6.0.x
      - name: Start MongoDB service
        if: ${{ runner.os == 'macOS' }}
        run: brew services start mongodb-community
      - run: ./build.cmd Workflow
      - uses: actions/upload-artifact@v2.3.1
        if: always()
        with:
          name: profiler-logs-${{ matrix.machine }}
          path: build_data/profiler-logs/**/*
