name: ci

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        machine: [ windows-2022, ubuntu-20.04, macos-10.15 ]
    runs-on: ${{ matrix.machine }}
    steps:
      - uses: actions/checkout@v3.0.0
      - uses: actions/setup-dotnet@v2.0.0
        with:
          dotnet-version: | 
            3.1.x
            5.0.x
            6.0.x
      - uses: microsoft/setup-msbuild@v1.1
        if: ${{ runner.os == 'Windows' }}
      - name: Start MongoDB service
        if: ${{ runner.os == 'macOS' }}
        run: brew services start mongodb-community
      - run: ./build.cmd Workflow
      - name: Upload logs
        uses: actions/upload-artifact@v3.0.0
        if: always()
        with:
          name: logs-${{ matrix.machine }}
          path: build_data/profiler-logs/
      - name: Upload binaries
        uses: actions/upload-artifact@v3.0.0
        if: always()
        with:
          name: bin-${{ matrix.machine }}
          path: bin/tracer-home
