name: ci

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        machine: [ windows-2022, ubuntu-20.04, macos-11 ]
    runs-on: ${{ matrix.machine }}
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: actions/setup-dotnet@v2.1.0
        with:
          dotnet-version: | 
            3.1.x
            6.0.x
      - run: ./build.cmd Workflow --containers windows
        if: ${{ runner.os == 'Windows' }}
      - run: ./build.cmd Workflow --containers linux
        if: ${{ runner.os == 'Linux' }}
      - run: ./build.cmd Workflow --containers none
        if: ${{ runner.os == 'macOS' }}
      - name: Upload logs
        uses: actions/upload-artifact@v3.1.0
        if: always()
        with:
          name: logs-${{ matrix.machine }}
          path: build_data/profiler-logs/
      - name: Upload binaries
        uses: actions/upload-artifact@v3.1.0
        if: always()
        with:
          name: bin-${{ matrix.machine }}
          path: bin/tracer-home

  container-build:
    name: Container Build 
    strategy:
      fail-fast: false
      matrix:
        base-image: [ alpine ]
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v3.0.2
    - name: Build Docker image
      run: |
        docker build \
          --tag otel-dotnet-autoinstrumentation/${{ matrix.base-image }} \
          --file "./build/nuke/docker/${{ matrix.base-image }}.dockerfile" \
          "./build/nuke"
    - name: Build in Docker container
      run: |
        docker run --rm \
          --mount type=bind,source="${GITHUB_WORKSPACE}",target=/project \
          otel-dotnet-autoinstrumentation/${{ matrix.base-image }} \
          dotnet /build/nuke/bin/Debug/_build.dll Workflow --containers none
    - name: Publish Linux build
      uses: actions/upload-artifact@v3.1.0
      with:
        name: bin-${{ matrix.base-image }}
        path: bin/tracer-home
      if: (${{ job.status }} != 'cancelled')
      continue-on-error: true
