name: dotnet format

on:
  push:
    branches: [ main ]
    paths:
    - '**.cs'
    - '.editorconfig'
  pull_request:
    branches: [ main ]
    paths:
    - '**.cs'
    - '.editorconfig'
  merge_group:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check-format:
    runs-on: windows-latest
    steps:
      
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag: v6.0.1

    - name: Setup .NET
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # tag: v5.0.1
      with:
        dotnet-version: 10.0.101

    - name: dotnet format
      run: dotnet format .\OpenTelemetry.AutoInstrumentation.sln --verify-no-changes
