name: dotnet format

on:
  push:
    branches: [ main ]
    paths:
    - '**.cs'
    - '.editorconfig'
  pull_request:
    branches: [ main ]
    paths:
    - '**.cs'
    - '.editorconfig'
  merge_group:
  workflow_dispatch:

jobs:
  check-format:
    runs-on: windows-latest

    steps:
    - name: check out code
      uses: actions/checkout@v3.6.0

    - name: Setup .NET 7.0
      uses: actions/setup-dotnet@v3.2.0
      with:
        dotnet-version: 7.0.400

    - name: dotnet format
      run: dotnet format .\OpenTelemetry.AutoInstrumentation.sln --no-restore --verify-no-changes
