name: dotnet format

on:
  push:
    branches: [ main ]
    paths:
    - '**.cs'
    - '.editorconfig'
  pull_request:
    branches: [ main ]
    paths:
    - '**.cs'
    - '.editorconfig'
  merge_group:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check-format:
    runs-on: windows-latest
    steps:
      
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag: v6.0.1

    - name: Setup .NET
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # tag: v5.1.0
      with:
        dotnet-version: 10.0.102

    - name: dotnet format
      run: dotnet format .\OpenTelemetry.AutoInstrumentation.sln --no-restore --verify-no-changes
