name: dotnet format

on:
  push:
    branches: [ main ]
    paths:
    - '**.cs'
    - '.editorconfig'
  pull_request:
    branches: [ main ]
    paths:
    - '**.cs'
    - '.editorconfig'
  merge_group:
  workflow_dispatch:

jobs:
  check-format:
    runs-on: windows-latest

    steps:
    - name: check out code
      uses: actions/checkout@v3.5.2

    - name: Setup .NET 7.0
      uses: actions/setup-dotnet@v3.1.0
      with:
        dotnet-version: 7.0.302

    - name: Install format tool
      run: dotnet tool install -g dotnet-format

    - name: dotnet format
      run: dotnet-format --folder --check
