name: dotnet format

on:
  push:
    branches: [ main ]
    paths:
    - '**.cs'
    - '.editorconfig'
  pull_request:
    branches: [ main ]
    paths:
    - '**.cs'
    - '.editorconfig'
  merge_group:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check-format:
    runs-on: windows-latest
    steps:
      
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # tag: v5.0.1

    - name: Setup .NET
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # tag: v5.0.0
      with:
        dotnet-version: 10.0.100

    - name: dotnet format
      run: dotnet format .\OpenTelemetry.AutoInstrumentation.sln --no-restore --verify-no-changes
