name: format native

on:
  push:
    branches: [ main ]
  pull_request:
  merge_group:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check-native-format:
    name: ${{ matrix.step-name }}
    runs-on: ${{ matrix.runner }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - step-name: native-format-macos
            runner: macos-14-xlarge
          - step-name: native-format-linux
            runner: ubuntu-22.04
          - step-name: native-format-windows
            runner: windows-2022

    steps:

    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # tag: v5.0.1

    - name: Install Clang tools
      shell: bash
      run: ./scripts/download-clang-tools.sh

    - name: Format native code
      shell: bash
      run: ./scripts/format-native.sh

  check-native-headers:
    runs-on: ubuntu-22.04
    steps:

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # tag: v5.0.1

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # tag: v6.0.0
        with:
          go-version: '1.23.5'
          cache: false # Suppress a warning given that there are no go.sum files in the repo

      - name: Verify all native files have license headers
        shell: bash
        run: |
          go install github.com/google/addlicense@v1.1.1
          addlicense -v -y "" -l "apache" -c "The OpenTelemetry Authors" -s=only -ignore **/lib/** src/OpenTelemetry.AutoInstrumentation.Native/
          git status
          git diff
          test -z "$(git status --porcelain)"
