name: format native

on:
  push:
    branches: [ main ]
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  check-native-format:
    strategy:
      fail-fast: false
      matrix:
        machine: [ windows-2022, ubuntu-20.04, macos-11 ]
    runs-on: ${{ matrix.machine }}

    steps:
    - uses: actions/checkout@v3.5.3

    - name: Install Clang tools
      shell: bash
      run: ./scripts/download-clang-tools.sh

    - name: Format native code
      shell: bash
      run: ./scripts/format-native.sh

  check-native-headers:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3.5.3
      - uses: actions/setup-go@v4.0.1
        with:
          go-version: '1.20.1'
      - name: Verify all native files have license headers
        shell: bash
        run: |
          go install github.com/google/addlicense@v1.1.1
          addlicense -v -y "" -l "apache" -c "The OpenTelemetry Authors" -s=only -ignore **/lib/** src/OpenTelemetry.AutoInstrumentation.Native/
          git status
          git diff
          test -z "$(git status --porcelain)"
