name: release

on:
  push:
    tags: [ v* ]
  workflow_dispatch:

permissions:
  contents: read

env:
  NUGET_PACKAGES: ${{ github.workspace }}/packages
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

jobs:
  build-container:
    uses: ./.github/workflows/build-container.yml

  build-ubuntu1604-native:
    uses: ./.github/workflows/build-ubuntu1604-native-container.yml

  build:
    needs: build-ubuntu1604-native
    uses: ./.github/workflows/build.yml

  build-nuget-packages:
    needs: [ build, build-container ]
    uses: ./.github/workflows/build-nuget-packages.yml

  create-release:
    name: Create GitHub release
    runs-on: ubuntu-22.04
    needs: [ build, build-container, build-nuget-packages ]
    permissions:
      attestations: write
      contents: write
      id-token: write
    timeout-minutes: 10
    steps:

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag: v6.0.2

      - name: Download artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # tag: v8.0.0
        with:
          path: .

      - name: Install zip
        uses: montudor/action-zip@0852c26906e00f8a315c704958823928d8018b28 # tag: v1.0.0

      - name: Create ZIP artifacts
        shell: bash
        run: |
          set -euo pipefail
          packages=(
            "alpine-x64 linux-musl-x64"
            "alpine-arm64 linux-musl-arm64"
            "ubuntu-22.04 linux-glibc-x64"
            "ubuntu-22.04-arm linux-glibc-arm64"
            "windows-2022 windows"
            "macos-14 macos"
            "nuget-packages nuget-packages"
          )

          for package in "${packages[@]}"; do
            read -r dir archive <<< "${package}"
            src="./bin-${dir}"
            (cd "${src}" && zip -qq -r "../opentelemetry-dotnet-instrumentation-${archive}.zip" ./* && cd ..)
          done

      - name: Collect install scripts
        shell: bash
        run: |
          set -euo pipefail
          src="./installation-scripts-windows-2022"
          files=(
            "otel-dotnet-auto-install.sh"
            "OpenTelemetry.DotNet.Auto.psm1"
          )

          for file in "${files[@]}"; do
            cp "${src}/${file}" "${file}"
          done

      - name: Generate checksums
        shell: bash
        run: |
          set -euo pipefail
          artifacts=(
            "opentelemetry-dotnet-instrumentation-linux-glibc-arm64.zip"
            "opentelemetry-dotnet-instrumentation-linux-glibc-x64.zip"
            "opentelemetry-dotnet-instrumentation-linux-musl-arm64.zip"
            "opentelemetry-dotnet-instrumentation-linux-musl-x64.zip"
            "opentelemetry-dotnet-instrumentation-macos.zip"
            "opentelemetry-dotnet-instrumentation-nuget-packages.zip"
            "opentelemetry-dotnet-instrumentation-windows.zip"
            "otel-dotnet-auto-install.sh"
            "OpenTelemetry.DotNet.Auto.psm1"
          )

          for file in "${artifacts[@]}"; do
            sha256sum "${file}" >> "./checksums.txt"
          done

          echo "Verifying checksums"
          sha256sum "./checksums.txt" --check || exit 1

      - name: Attest artifacts
        uses: actions/attest-build-provenance@a2bbfa25375fe432b6a289bc6b6cd05ecd0c4c32 # v4.1.0
        with:
          subject-path: |
            ./*.zip
            ./otel-dotnet-auto-install.sh
            ./OpenTelemetry.DotNet.Auto.psm1
            ./checksums.txt

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh release create "${GITHUB_REF_NAME}" --title "${GITHUB_REF_NAME}" --verify-tag --draft
          ./*.zip
          ./otel-dotnet-auto-install.sh
          ./OpenTelemetry.DotNet.Auto.psm1
          ./checksums.txt
