name: validate-documentation

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/validate-documentation.yml'
      - '**.md'
      - '.lycheeignore'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/validate-documentation.yml'
      - '**.md'
      - '.lycheeignore'
  merge_group:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag: v6.0.2

    - name: Restore lychee cache
      uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # tag: v5.0.3
      id: cache-restore
      with:
        path: .lycheecache
        key: cache-lychee-${{ github.sha }}
        restore-keys: cache-lychee-

    - name: Run markdown links checks
      if: ${{ !contains(github.event.pull_request.labels.*.name, 'release PR') }}
      uses: lycheeverse/lychee-action@8646ba30535128ac92d33dfc9133794bfdd9b411 # tag: v2.8.0
      with:
        fail: true
        args: "--cache --max-cache-age 1d --threads 1 --max-concurrency 1 --verbose --retry-wait-time 5 --max-retries 3 --timeout 60 --no-progress './**/*.md' './**/*.html'"

    - name: Run markdownlint
      uses: streetsidesoftware/cspell-action@9cd41bb518a24fefdafd9880cbab8f0ceba04d28 # tag: v8.3.0
      with:
        files: '**/*.md'

    - name: Run cspell
      uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # tag: v22.0.0
      with:
        globs: '**/*.md;!.github/**;!lychee/out.md'
        separator: ';'

    - name: Save lychee cache
      if: always()
      uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # tag: v5.0.3
      with:
        path: .lycheecache
        key: ${{ steps.cache-restore.outputs.cache-primary-key }}
