name: validate-documentation

on:
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/validate-documentation.yml'
    - '**.md'
    - 'package-lock.json'
    - 'package.json'
    - '.lycheeignore'
  pull_request:
    branches: [ main ]
    paths:
    - '.github/workflows/validate-documentation.yml'
    - '**.md'
    - 'package-lock.json'
    - 'package.json'
    - '.lycheeignore'
  merge_group:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4.1.2

    - name: Run markdown links chceks
      if: ${{ !contains(github.event.pull_request.labels.*.name, 'release PR') }}
      uses: lycheeverse/lychee-action@v1.9.3
      with:
        fail: true
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      
    - name: Install NPM packages
      run: npm install

    - name: Run markdownlint and cspell
      run: npm run markdownlint && npm run cspell
