name: validate-documentation

on:
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/validate-documentation.yml'
    - '**.md'
    - '.lycheeignore'
  pull_request:
    branches: [ main ]
    paths:
    - '.github/workflows/validate-documentation.yml'
    - '**.md'
    - '.lycheeignore'
  merge_group:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # tag: v4.2.1

    - name: Run markdown links chceks
      if: ${{ !contains(github.event.pull_request.labels.*.name, 'release PR') }}
      uses: lycheeverse/lychee-action@2b973e86fc7b1f6b36a93795fe2c9c6ae1118621 # tag: v1.10.0
      with:
        fail: true
        args: "--threads 1 --max-concurrency 1 --verbose --no-progress './**/*.md' './**/*.html'"

    - name: Run markdownlint
      uses: streetsidesoftware/cspell-action@934c74da3775ac844ec89503f666f67efb427fed # tag: v6.8.1
      with:
        files: '**/*.md'

    - name: Run cspell
      uses: DavidAnson/markdownlint-cli2-action@db43aef879112c3119a410d69f66701e0d530809 # tag: v17.0.0
