name: validate-documentation

on:
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/validate-documentation.yml'
    - '**.md'
    - 'package-lock.json'
    - 'package.json'
    - '.lycheeignore'
  pull_request:
    branches: [ main ]
    paths:
    - '.github/workflows/validate-documentation.yml'
    - '**.md'
    - 'package-lock.json'
    - 'package.json'
    - '.lycheeignore'
  merge_group:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3.5.2
    - uses: lycheeverse/lychee-action@v1.8.0
      with:
        fail: true
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      if: ${{ !contains(github.event.pull_request.labels.*.name, 'release PR') }}

    - run: npm install

    - run: npm run markdownlint && npm run cspell
