name: validate-documentation

on:
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/validate-documentation.yml'
    - '**.md'
    - '.lycheeignore'
  pull_request:
    branches: [ main ]
    paths:
    - '.github/workflows/validate-documentation.yml'
    - '**.md'
    - '.lycheeignore'
  merge_group:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # tag: v4.2.2

    - name: Run markdown links chceks
      if: ${{ !contains(github.event.pull_request.labels.*.name, 'release PR') }}
      uses: lycheeverse/lychee-action@f796c8b7d468feb9b8c0a46da3fac0af6874d374 # tag: v2.2.0
      with:
        fail: true
        args: "--threads 1 --max-concurrency 1 --verbose --no-progress './**/*.md' './**/*.html'"

    - name: Run markdownlint
      uses: streetsidesoftware/cspell-action@ef95dc49d631fc2a9e9ea089ae2b2127b7c4588e # tag: v6.10.0
      with:
        files: '**/*.md'

    - name: Run cspell
      uses: DavidAnson/markdownlint-cli2-action@a23dae216ce3fee4db69da41fed90d2a4af801cf # tag: v19.0.0
