name: validate-documentation

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/validate-documentation.yml'
      - '**.md'
      - '.lycheeignore'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/validate-documentation.yml'
      - '**.md'
      - '.lycheeignore'
  merge_group:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # tag: v5.0.0

    - name: Restore lychee cache
      uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # tag: v4.3.0
      id: cache-restore
      with:
        path: .lycheecache
        key: cache-lychee-${{ github.sha }}
        restore-keys: cache-lychee-

    - name: Run markdown links checks
      if: ${{ !contains(github.event.pull_request.labels.*.name, 'release PR') }}
      uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # tag: v2.7.0
      with:
        fail: true
        args: "--cache --max-cache-age 1d --threads 1 --max-concurrency 1 --verbose --retry-wait-time 5 --max-retries 3 --timeout 60 --no-progress './**/*.md' './**/*.html'"

    - name: Run markdownlint
      uses: streetsidesoftware/cspell-action@76c6f6d52abd57f4bcab5f3fde1bbd4f19a99eb0 # tag: v7.2.1
      with:
        files: '**/*.md'

    - name: Run cspell
      uses: DavidAnson/markdownlint-cli2-action@992badcdf24e3b8eb7e87ff9287fe931bcb00c6e # tag: v20.0.0

    - name: Save lychee cache
      if: always()
      uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # tag: v4.3.0
      with:
        path: .lycheecache
        key: ${{ steps.cache-restore.outputs.cache-primary-key }}
