# this workflow can be used to check if given integration test is flaky
name: verify-test

on:
  workflow_dispatch:
    inputs:
      testProject:
        description: String that partially matches test projects to run. Defaults to all test projects.
      testName:
        description: 'String that partially matches the tests to run'
      count:
        description: 'Test execution count'
        default: '20'

jobs:
  verify-test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - machine: windows-2022
            containers: windows
          - machine: ubuntu-20.04
            containers: linux
          - machine: macos-11
            containers: none
          - machine: actuated-arm64-4cpu-8gb
            containers: linux
    runs-on: ${{ matrix.machine }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4.1.2

      - name: Setup ARM64 Environment Variables
        if: ${{ matrix.machine == 'actuated-arm64-4cpu-8gb' }}
        run: |
          echo "DOTNET_INSTALL_DIR=~/.dotnet" >> $GITHUB_ENV

      - name: Setup .NET
        uses: actions/setup-dotnet@v4.0.0
        with:
          dotnet-version: | 
            6.0.421
            7.0.408
            8.0.204

      - name: Run BuildTracer and ManagedTests
        run: ./build.cmd BuildTracer ManagedTests --containers ${{ matrix.containers }} --test-project "${{ github.event.inputs.testProject }}" --test-name '"${{ github.event.inputs.testName }}"' --test-count ${{ github.event.inputs.count }}

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v4.3.3
        with:
          name: logs-${{ matrix.machine }}
          path: test-artifacts/
