# this workflow can be used to check if given integration test is flaky
name: verify-test

on:
  workflow_dispatch:
    inputs:
      testProject:
        description: String that partially matches test projects to run. Defaults to all test projects.
      testName:
        description: 'String that partially matches the tests to run'
      count:
        description: 'Test execution count'
        default: '20'

permissions:
  contents: read

jobs:
  verify-test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - machine: windows-2022
            containers: windows
          - machine: windows-2025
            containers: windows
          - machine: ubuntu-22.04
            containers: linux
          - machine: macos-14
            containers: none
          - machine: ubuntu-22.04-arm
            containers: linux
    runs-on: ${{ matrix.machine }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # tag: v5.0.1

      - name: Setup .NET
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # tag: v5.0.0
        with:
          dotnet-version: | 
            8.0.416
            9.0.307
            10.0.100

      - name: Run BuildTracer and ManagedTests
        run: ./build.cmd BuildTracer ManagedTests --containers ${{ matrix.containers }} --test-project "${{ github.event.inputs.testProject }}" --test-name '"${{ github.event.inputs.testName }}"' --test-count ${{ github.event.inputs.count }}

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # tag: v5.0.0
        with:
          name: logs-${{ matrix.machine }}
          path: test-artifacts/
