name: Build artifacts
on: 
  push: 
    branches: [ poc-otel-sdk ]
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [ poc-otel-sdk ]
  workflow_dispatch:

jobs:

  linux_build:
    name: Linux Build
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - run: ./build/docker/build.sh
      env:
        buildConfiguration: Release
    - run: ./build/docker/Datadog.Trace.ClrProfiler.Native.sh
      env:
        buildConfiguration: Release

  windows_build:
    name: Windows Build
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - uses: microsoft/setup-msbuild@v1.0.2
      - run: dotnet build -c $buildConfiguration src/Datadog.Trace.ClrProfiler.Managed.Loader/Datadog.Trace.ClrProfiler.Managed.Loader.csproj
        shell: cmd
        env:
          buildConfiguration: Release
      - run: nuget restore src\Datadog.Trace.ClrProfiler.Native\Datadog.Trace.ClrProfiler.Native.vcxproj -SolutionDirectory .
        shell: cmd
      - run: msbuild.exe Datadog.Trace.proj -t:BuildCpp -p:Configuration=${buildConfiguration} -p:Platform=x64
        shell: cmd
        env:
          buildConfiguration: Release
